include ../../inc/main-data.jade
- var subTitle = "제품정보 | 목록";
doctype html
html(lang='ko')
	include ../../inc/head.jade
	body.sub
		div.loading
			span.loader
		div#wrap
			div#container
				div.notice_list
					ul
						li.top
							a(href='javascript:;')
								h3.tit 3월 15일 0시 서비스 점검 공지 3월 15일0시 서비스 점검을 시작합니다. 사용자께서는 각별히 주의하시기 바랍니다.
								span.date 2015.03.14
						li.top
							a(href='javascript:;')
								h3.tit 3월 15일 0시 서비스 점검 공지 3월 15일0시 서비스 점검을 시작합니다. 사용자께서는 각별히 주의하시기 바랍니다.
								span.date 2015.03.14
						li
							a(href='javascript:;')
								h3.tit 3월 15일 0시 서비스 점검 공지 3월 15일0시 서비스 점검을 시작합니다. 사용자께서는 각별히 주의하시기 바랍니다.
								span.date 2015.03.14
						li
							a(href='javascript:;')
								h3.tit 3월 15일 0시 서비스 점검 공지 3월 15일0시 서비스 점검을 시작합니다. 사용자께서는 각별히 주의하시기 바랍니다.
								span.date 2015.03.14
						li
							a(href='javascript:;')
								h3.tit 3월 15일 0시 서비스 점검 공지 3월 15일0시 서비스 점검을 시작합니다. 사용자께서는 각별히 주의하시기 바랍니다.
								span.date 2015.03.14
						li
							a(href='javascript:;')
								h3.tit 3월 15일 0시 서비스 점검 공지 3월 15일0시 서비스 점검을 시작합니다. 사용자께서는 각별히 주의하시기 바랍니다.
								span.date 2015.03.14
				include ../../inc/more_and_top.jade

		// ui script load
		include ../../inc/scripts.jade