link(rel='stylesheet', type='text/css', href='#{path.css}/reset.css')
link(rel='stylesheet', type='text/css', href='#{path.css}/beautysquare.css')
link(rel='stylesheet', type='text/css', href='#{path.css}/plugins/swiper.css')