include ../../inc/main-data.jade
//- - var subTitle = "제품정보 | 목록"
doctype html
html(lang='ko')
	include ../../inc/head.jade
	body.sub
		div.loading
			span.loader
		div#wrap
			div.view_page.notice
				h1.view_head
					span 2월엔 촉촉해지세요! 셀 에센스 4주차 이벤트!
					span.date 2015.03.14 ~ 2015.06.20
				div.view_content
					img(src='#{path.img}dummy/view_img01.jpg', alt='')
					p 
						| 안녕하세요 방판교육팀 입니다.안정적인 서비스제 공을 위하여3월 15일(화) 00:00~06:00 까지 시스템점검을진행합니다.
						br
						| ※ 하단의 이벤트 참여하기 버튼을 선택하시면 해당 유튜브 영상 페이지로 이동합니다!
			div.container
				a.btn_event(href='javascript:;')
					span 이벤트 참여


		// ui script load
		include ../../inc/scripts.jade